<div class="form-inline">
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-inline">
  <%= f.label :gender, "性别" %>
  <%= f.radio_button :gender, "男", class: "radio-inline offset-1" %><%= f.label :gender, "男" %>
  <%= f.radio_button :gender, "女", class: "radio-inline offset-1" %><%= f.label :gender, "女" %>
</div>

<div class="form-inline">
  <%= f.label :work_id, "工作编号" %>
  <%= f.number_field :work_id, class: "form-control", placeholder: "请填写数字" %>
  <label class="d-none">该编号已经有人了，请选择新的编号</label>
</div>

<div class="form-inline work_type_now">
  <%= f.label :work_type, "选择工种" %>
  <%= f.select :work_type, Employee.all.collect {|p| p.work_type}.uniq, class: "form-control" %>
  <a class="text_click" id="edit_new_work_type">是新的工种？</a>
</div>
<div class="form-inline new_work_type d-none">
  <%= f.label :work_type, "新的工种" %>
  <%= f.text_field :work_type, class: "form-control", disabled: "true" %>
  <a class="text_click" id="edit_old_work_type">还是原来的工种</a>
</div>
<div class="form-inline">
  <%= f.label :basic_wage, "基础工资(元/月)" %>
  <%= f.number_field :basic_wage, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :bank_card, "银行卡号" %>
  <%= f.text_field :bank_card, maxlength: 19, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :phone, "手机号码" %>
  <%= f.text_field :phone, maxlength: 11, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :id_number, "身份证号码" %>
  <%= f.text_field :id_number, maxlength: 18, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :entry_date, "入职日期" %>
  <%= f.date_field :entry_date, value: f.object.entry_date || Date.today.to_s(:db), class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :daparture_date, "离职日期" %>
  <%= f.date_field :daparture_date, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :remarks, "备注" %>
  <%= f.text_area :remarks, class: "form-control" %>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        //编辑员工页面，如果有新的工种，添加
        $(document).on('click', "#edit_new_work_type", function () {
            $(".work_type_now").addClass("d-none ");
            $(".new_work_type").removeClass("d-none ");
            $(".new_work_type").find("input[name='employee[work_type]']").attr('disabled', false);
        })
        $(document).on('click', "#edit_old_work_type", function () {
            $(".work_type_now").removeClass("d-none ");
            $(".new_work_type").addClass("d-none ");
            $(".new_work_type").find("input[name='employee[work_type]']").attr('disabled', true);
        })
    })
</script>