<% provide :index_title, "员工管理界面" %>
<% provide :manage_object, Employee %>
<% provide :new_url, new_employee_path %>

<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">

  <% if can? :create, Employee %>
    <div class="create_order">
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "employee" %>
</div>

<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>工号</td>
    <td>姓名</td>
    <td>性别</td>
    <td>岗位</td>
    <td>状态</td>
    <% if can? :destroy, Employee %>
      <td>删除</td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @employees.each do |user| %>
    <tr>
      <td><%= user.work_id %></td>
      <td><%= link_to user.name, employee_path(user) %></td>
      <td><%= user.gender %></td>
      <td><%= user.work_type %></td>
      <%if user.status  %>
      <td>在职</td>
        <%else %>
        <td>离职</td>
        <%end %>
      <% if can? :destroy, Employee %>
        <td><%= link_to "删除", employee_path(user), method: :delete, data: {confirm: "确定删除？"} %></td>
      <% end %>
    </tr>

  <% end %>
  </tbody>
</table>
<%= render 'shard/paginate', object: @employees %>







