<div class="row">
  <div class="col-md-3">

    <div class="role_info">
      <h5>欢迎你,以下是您的角色</h5>
      <div id="accordion">
        <% current_user.roles.each do |role| %>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapse_<%= role.id %>">
                <%= role.name %>
              </a>
            </div>
            <div id="collapse_<%= role.id %>" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <%= role.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="operations_can_do">
      <h5>需要做的事情</h5>
      <div class="not_pass_content">
        <% if can? :pass_check, Expense %>
          <% if @not_pass_expenses.count > 0 %>
            <p>
              审核付款单<span class="badge badge-warning">
        <%= link_to @not_pass_expenses.count, expense_index_path(type: "check_status:false") %> </span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, Proceed %>
          <% if @not_pass_proceeds.count > 0 %>
            <p>
              审核收款单<span class="badge badge-warning">
        <%= link_to @not_pass_proceeds.count, proceed_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, SaleOrder %>
          <% if @not_pass_sale_orders.count > 0 %>
            <p>
              审核销售单<span class="badge badge-warning">
        <%= link_to @not_pass_sale_orders.count, sale_order_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, PurchaseOrder %>
          <% if @not_pass_purchase_orders.count > 0 %>
            <p>
              审核采购单<span class="badge badge-warning">
        <%= link_to @not_pass_purchase_orders.count, purchase_order_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_reimburse_expense, Expense %>
          <% if @not_pass_purchase_orders.count > 0 %>
            <div>
              还有未报销单<span class="badge badge-warning">
        <%= link_to @need_reimburses.count, expense_index_path(type: "need_reimburses:true") %></span>
            </div>
          <% end %>
        <% end %>
        <hr>
      </div>
      <h5>常用</h5>
      <div class="create_order">
        <% if can? :create, Expense %>
          <div class="btn">
            <%= link_to "填写新的付款单", new_expense_path %>
          </div>
        <% end %>
        <% if can? :create, Proceed %>
          <div class="btn">
            <%= link_to "填写新的收款单", new_proceed_path %>
          </div>
        <% end %>
        <% if can? :create, PurchaseOrder %>
          <div class="btn">
            <%= link_to "填写新的采购单", new_purchase_order_path %>
          </div>
        <% end %>
        <% if can? :create, SaleOrder %>
          <div class="btn">
            <%= link_to "填写新的销售单", new_sale_order_path %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="last_week_status">
      <h5>最近7天的情况</h5>
      <div>
        <% if @last_week_purchase_orders.size > 0 %>
          <p>有<%= @last_week_purchase_orders.size %>张采购单</p>
          <% @last_week_purchase_orders[0..1].each do |order| %>
            <p> <%= link_to order.material.name, purchase_order_path(order) %>
              —<%= link_to order.purchase_supplier.name, purchase_supplier_path(order.purchase_supplier.id) %></p>
          <% end %>
          <% if @last_week_purchase_orders.size > 2 %>
            <p>........</p>
          <% end %>
        <% end %>
        <% if @last_week_sale_orders.size > 0 %>
          <p>有<%= @last_week_sale_orders.size %>张销售单</p>
          <% @last_week_sale_orders[0..1].each do |order| %>
            <p> <%= link_to order.product.name, sale_order_path(order) %>
              —<%= link_to order.sale_customer.name, sale_customer_path(order.sale_customer.id) %></p>
          <% end %>
          <% if @last_week_sale_orders.size > 2 %>
            <p>........</p>
          <% end %>
        <% end %>
        <% if @last_week_proceeds.size > 0 %>
          <p>有<%= @last_week_proceeds.size %>张收款单</p>
          <% @last_week_proceeds[0..1].each do |order| %>
            <p><%= link_to order.sale_customer.name, proceed_path(order) %></p>
          <% end %>
          <% if @last_week_proceeds.size > 2 %>
            <p>........</p>
          <% end %>
        <% end %>
        <% if @last_week_expenses.size > 0 %>
          <p>有<%= @last_week_expenses.size %>张付款单</p>
          <% @last_week_expenses[0..1].each do |order| %>
            <p><%= link_to order.counterparty, expense_path(order) %></p>
          <% end %>
          <% if @last_week_expenses.size > 2 %>
            <p>........</p>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-9">

    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            本系统的由来
          </a>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <%= render 'dashboard/info' %>
          </div>
        </div>
      </div>
    </div>
    <p class="alert-warning">本系统正处于测试期，所有的用户密码为123456。
      有任何意见、建议、问题、需要添加的功能请在底部的建议反馈里提交！</p>
    <h5>图表查询</h5>
    <div class="row no-gutters">
      <%= form_with url: check_sale_proceed_url do |f| %>
        <div class="input-group">
          <%= f.label :start_date, "开始日期" %>
          <%= f.date_field :start_date, value: (Time.current - 7.days).strftime("%Y-%m-%d") %>
        </div>
        <div class="input-group">
          <%= f.label :end_date, "结束日期" %>
          <%= f.date_field :end_date, value: (Time.current + 1.day).strftime("%Y-%m-%d") %>
          <%= f.submit "查询" %>
        </div>
      <% end %>
    </div>
    <div class="chart-container">

    </div>

  </div>
</div>