<div class="row">
  <div class="col-md-3">

    <div class="role_info">
      <h5>角色栏</h5>
      <div id="accordion">
        <% current_user.roles.each do |role| %>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapse_<%= role.id %>">
                <%= role.name %>
              </a>
            </div>
            <div id="collapse_<%= role.id %>" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <%= role.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="operations_can_do">
      <h5>待处理清单</h5>
      <div class="not_pass_content">
        <% if can? :pass_check, Expense %>
          <% if @not_pass_expenses.count > 0 %>
            <p>
              审核付款单<span class="badge badge-warning">
        <%= link_to @not_pass_expenses.count, expense_index_path(type: "check_status:false") %> </span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, Proceed %>
          <% if @not_pass_proceeds.count > 0 %>
            <p>
              审核收款单<span class="badge badge-warning">
        <%= link_to @not_pass_proceeds.count, proceed_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, SaleOrder %>
          <% if @not_pass_sale_orders.count > 0 %>
            <p>
              审核销售单<span class="badge badge-warning">
        <%= link_to @not_pass_sale_orders.count, sale_order_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, PurchaseOrder %>
          <% if @not_pass_purchase_orders.count > 0 %>
            <p>
              审核采购单<span class="badge badge-warning">
        <%= link_to @not_pass_purchase_orders.count, purchase_order_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_reimburse_expense, Expense %>
          <% if @need_reimburses.count > 0 %>
            <div>
              还有未报销单<span class="badge badge-warning">
        <%= link_to @need_reimburses.count, expense_index_path(type: "need_reimburse:true") %></span>
            </div>
          <% end %>
        <% end %>
        <% if can? :pass_settle, ChangeMachine %>
          <% if @need_pass_settle.count > 0 %>
            <div>
              还有未结算的改机费用<span class="badge badge-warning">
        <%= link_to @need_pass_settle.count, change_machines_path(type: "is_settle:false") %></span>
            </div>
          <% end %>
        <% end %>
        <hr>
      </div>
      <div class="common_content">
        <h5>常用功能</h5>
        <div>
          <% if can? :create, Expense %>
            <div class="btn">
              <%= link_to "填写新的付款单", new_expense_path %>
            </div>
          <% end %>
          <% if can? :create, Proceed %>
            <div class="btn">
              <%= link_to "填写新的收款单", new_proceed_path %>
            </div>
          <% end %>
          <% if can? :create, PurchaseOrder %>
            <div class="btn">
              <%= link_to "填写新的采购单", new_purchase_order_path %>
            </div>
          <% end %>
          <% if can? :create, SaleOrder %>
            <div class="btn">
              <%= link_to "填写新的销售单", new_sale_order_path %>
            </div>
          <% end %>
          <% if can? :create, ChangeMachine %>
            <div class="btn">
              <%= link_to "记录新的改机信息", new_change_machine_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="last_week_status">
      <h5>最近7天的情况</h5>
      <div>
        <% if @last_week_purchase_orders.size > 0 %>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_21">
                  <p>有<%= @last_week_purchase_orders.size %>张采购单</p>
                </a>
              </div>
              <div id="collapse_21" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_purchase_orders.each do |order| %>
                    <p> <%= link_to order.material.name, purchase_order_path(order) %>
                      —<%= link_to order.purchase_supplier.name, purchase_supplier_path(order.purchase_supplier.id) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @last_week_sale_orders.size > 0 %>
          <p>有<%= @last_week_sale_orders.size %>张销售单</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_22">
                  <p>有<%= @last_week_sale_orders.size %>张销售单</p>
                </a>
              </div>
              <div id="collapse_22" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_sale_orders.each do |order| %>
                    <p> <%= link_to order.product.name, sale_order_path(order) %>
                      —<%= link_to order.sale_customer.name, sale_customer_path(order.sale_customer.id) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @last_week_proceeds.size > 0 %>
          <p>有<%= @last_week_proceeds.size %>张收款单</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_23">
                  <p>有<%= @last_week_proceeds.size %>张收款单</p>
                </a>
              </div>
              <div id="collapse_23" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_proceeds.each do |order| %>
                    <p><%= link_to("#{order.sale_customer.name} - #{order.bill_time.localtime.strftime("%Y-%m-%d")}", proceed_path(order)) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @last_week_expenses.size > 0 %>
          <p>有<%= @last_week_expenses.size %>张付款单</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_24">
                  <p>有<%= @last_week_expenses.size %>张付款单</p>
                </a>
              </div>
              <div id="collapse_24" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_expenses.each do |order| %>
                    <p><%= link_to("#{order.counterparty} - #{order.bill_time.localtime.strftime("%Y-%m-%d")}", expense_path(order)) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <p class="alert-warning"> 有任何意见、建议、问题、需要添加的功能请在底部的建议反馈里提交！</p>
    <div class="graph_query">
      <h5>图表查询</h5>
      <p>开始日期：<%= date_field_tag :start_date, (Time.current - 7.days).strftime("%Y-%m-%d") %></p>
      <p>结束日期：<%= date_field_tag :end_date, (Time.current + 1.day).strftime("%Y-%m-%d") %></p>
      <%= button_tag "订单收支", id: "check_order_money", class: "btn btn-primary" %>
      <%= button_tag "最高交易金额的公司", id: "check_trade_top", class: "btn btn-primary" %>
      <%= button_tag "支出类别", id: "check_expense_ratio", class: "btn btn-primary" %>

      <div class="chart-container">

      </div>
    </div>
  </div>
</div>
<script>
    $(function () {
        $("#check_order_money").on("click", function () {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            $.post("/check_orders_money",
                {
                    start_date: start_date,
                    end_date: end_date
                }
            )
        });

        $("#check_trade_top").on("click", function () {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            $.post("/check_trade_top",
                {
                    start_date: start_date,
                    end_date: end_date
                }
            )
        });
        $("#check_expense_ratio").on("click", function () {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            $.post("/check_expense_ratio",
                {
                    start_date: start_date,
                    end_date: end_date
                }
            )
        })
    });
</script>
