<h2>欢迎进入纺织进销存系统</h2>


<!--<div class="left-side col-12 col-sm-4">-->
<!--  <div class="select_list">-->
<%#= link_to "还有", "#" %>
<%#= link_to "按钮2", "#" %>
<%#= link_to "按钮3", "#" %>
<!--  </div>-->
<!--</div>-->

<div class="not_pass_content">
  <% if @not_pass_expenses.count %>
    <div>
      还有<%= link_to @not_pass_expenses.count, expense_index_path(type: "check_status:false") %>张付款单需要审核
    </div>
  <% end %>
  <% if @not_pass_proceeds.count %>
    <div>
      还有<%= link_to @not_pass_proceeds.count, proceed_index_path(type: "check_status:false") %>张收款单需要审核
    </div>
  <% end %>
  <% if @not_pass_sale_orders.count %>
    <div>
      还有<%= link_to @not_pass_sale_orders.count, sale_order_index_path(type: "check_status:false") %>张销售单需要审核
    </div>
  <% end %>
  <% if @not_pass_purchase_orders.count %>
    <div>
      还有<%= link_to @not_pass_purchase_orders.count, purchase_order_index_path(type: "check_status:false") %>
      张采购单需要审核
    </div>
  <% end %>
</div>

<div class="daily_content">
  <% if @daily_expenses.count %>
    <div>
      今天有<%= link_to @daily_expenses.count, expense_index_path(type: "check_status:false") %>张付款单
    </div>
  <% end %>
  <% if @daily_proceeds.count %>
    <div>
      今天有<%= link_to @daily_proceeds.count, proceed_index_path(type: "check_status:false") %>张收款单
    </div>
  <% end %>
  <% if @daily_sale_orders.count %>
    <div>
      今天有<%= link_to @daily_sale_orders.count, sale_order_index_path(type: "check_status:false") %>张销售单
    </div>
  <% end %>
  <% if @daily_purchase_orders.count %>
    <div>
      今天有<%= link_to @daily_purchase_orders.count, purchase_order_index_path(type: "check_status:false") %>
      张采购单
    </div>
  <% end %>
</div>




