<div class="row">
  <div class="col-md-3">

    <div class="role_info" id="step1">
      <h5>角色栏</h5>
      <div id="accordion">
        <% current_user.roles.each do |role| %>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapse_<%= role.id %>">
                <%= role.name %>
              </a>
            </div>
            <div id="collapse_<%= role.id %>" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <%= role.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="operations_can_do" id="step2">
      <h5>待处理清单</h5>
      <div class="not_pass_content">
        <% if can? :pass_check, Expense %>
          <% if @not_pass_expenses.count > 0 %>
            <p>
              审核付款单<span class="badge badge-warning">
        <%= link_to @not_pass_expenses.count, expense_index_path(type: "check_status:false") %> </span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, Proceed %>
          <% if @not_pass_proceeds.count > 0 %>
            <p>
              审核收款单<span class="badge badge-warning">
        <%= link_to @not_pass_proceeds.count, proceed_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, SaleOrder %>
          <% if @not_pass_sale_orders.count > 0 %>
            <p>
              审核销售单<span class="badge badge-warning">
        <%= link_to @not_pass_sale_orders.count, sale_order_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_check, PurchaseOrder %>
          <% if @not_pass_purchase_orders.count > 0 %>
            <p>
              审核采购单<span class="badge badge-warning">
        <%= link_to @not_pass_purchase_orders.count, purchase_order_index_path(type: "check_status:false") %></span>
            </p>
          <% end %>
        <% end %>
        <% if can? :pass_reimburse_expense, Expense %>
          <% if @need_reimburses.count > 0 %>
            <div>
              还有未报销单<span class="badge badge-warning">
        <%= link_to @need_reimburses.count, expense_index_path(type: "need_reimburse:true") %></span>
            </div>
          <% end %>
        <% end %>
        <% if can? :pass_settle, ChangeMachine %>
          <% if @need_pass_settle.count > 0 %>
            <div>
              还有未结算的改机费用<span class="badge badge-warning">
        <%= link_to @need_pass_settle.count, change_machines_path(type: "is_settle:false") %></span>
            </div>
          <% end %>
        <% end %>
        <hr>
      </div>
    </div>
    <div class="common_content" id="step3">
      <h5>常用功能</h5>
      <div>
        <% if can? :create, Expense %>
          <div class="btn" id="new_expense">
            <%= link_to "填写新的付款单", new_expense_path %>
          </div>

        <% end %>
        <% if can? :create, Proceed %>
          <div class="btn" id="new_proceed">
            <%= link_to "填写新的收款单", new_proceed_path %>
          </div>
        <% end %>
        <% if can? :create, PurchaseOrder %>
          <div class="btn" id="new_purchase_order">
            <%= link_to "填写新的采购单", new_purchase_order_path %>
          </div>
        <% end %>
        <% if can? :create, SaleOrder %>
          <div class="btn" id="new_sale_order">
            <%= link_to "填写新的销售单", new_sale_order_path %>
          </div>
        <% end %>
        <% if can? :create, ChangeMachine %>
          <div class="btn" id="new_change_machine">
            <%= link_to "记录新的改机信息", new_change_machine_path %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="last_week_status" id="step4">
      <h5>最近7天的情况</h5>
      <div>
        <% if @last_week_purchase_orders.size > 0 %>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_21">
                  <p>有<%= @last_week_purchase_orders.size %>张采购单</p>
                </a>
              </div>
              <div id="collapse_21" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_purchase_orders.each do |order| %>
                    <p> <%= link_to order.material.name, purchase_order_path(order) %>
                      —<%= link_to order.purchase_supplier.name, purchase_supplier_path(order.purchase_supplier.id) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @last_week_sale_orders.size > 0 %>
          <p>有<%= @last_week_sale_orders.size %>张销售单</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_22">
                  <p>有<%= @last_week_sale_orders.size %>张销售单</p>
                </a>
              </div>
              <div id="collapse_22" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_sale_orders.each do |order| %>
                    <p> <%= link_to order.product.name, sale_order_path(order) %>
                      —<%= link_to order.sale_customer.name, sale_customer_path(order.sale_customer.id) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @last_week_proceeds.size > 0 %>
          <p>有<%= @last_week_proceeds.size %>张收款单</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_23">
                  <p>有<%= @last_week_proceeds.size %>张收款单</p>
                </a>
              </div>
              <div id="collapse_23" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_proceeds.each do |order| %>
                    <p><%= link_to("#{order.sale_customer.name} - #{order.bill_time.localtime.strftime("%Y-%m-%d")}", proceed_path(order)) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @last_week_expenses.size > 0 %>
          <p>有<%= @last_week_expenses.size %>张付款单</p>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse_24">
                  <p>有<%= @last_week_expenses.size %>张付款单</p>
                </a>
              </div>
              <div id="collapse_24" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <% @last_week_expenses.each do |order| %>
                    <p><%= link_to("#{order.counterparty} - #{order.bill_time.localtime.strftime("%Y-%m-%d")}", expense_path(order)) %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="nav-item dropdown" id="novice_guide">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        新手引导
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="expense_tour">新的付款单</a>
        <a class="dropdown-item" id="proceed_tour">新的收款单</a>
        <a class="dropdown-item" id="purchase_order_tour">新的采购单</a>
        <a class="dropdown-item" id="sale_order_tour">新的销售单</a>
        <a class="dropdown-item" id="change_machine_tour">新的改机记录</a>
      </div>
    </div>

  </div>
  <div class="col-md-9">
    <p class="alert-warning"> 有任何意见、建议、问题、需要添加的功能请在底部的建议反馈里提交！</p>
    <div class="graph_query" id="step5">
      <h5>图表查询</h5>
      <p>开始日期：<%= date_field_tag :start_date, (Time.current - 7.days).strftime("%Y-%m-%d") %></p>
      <p>结束日期：<%= date_field_tag :end_date, (Time.current + 1.day).strftime("%Y-%m-%d") %></p>
      <%= button_tag "订单收支", id: "check_order_money", class: "btn btn-primary" %>
      <%= button_tag "支出类别", id: "check_expense_ratio", class: "btn btn-primary" %>
      <%= button_tag "最高交易金额的公司", id: "check_trade_top", class: "btn btn-primary" %>
      <div class="chart-container"></div>
    </div>
  </div>
</div>
<script>
    // 设定参数
    var date = {
        controller_name: "dashboard",
        action_name: "index",
        tour_name: "intro",
        creator_id:<%=current_user.id %>
    }
    var title = '';
    title = title.concat(date.controller_name, "-", date.action_name, "-", date.tour_name, "-", date.creator_id);

    //设定首页的引导信息
    function startIntro() {
        var intro = introJs();
        intro.setOptions({
            steps: [{
                intro: "欢迎您的使用,本系统将为您管理生产中产生的各种单据，首先为您介绍主页的各种功能"
            }, {
                element: '#step1',
                intro: "这里是您在本系统中的角色定位，点击本角色的一些介绍，说明了您的主要职责",
                position: 'auto'
            }, {
                element: '#step2',
                intro: "这里存放着需要处理的单据，未处理完成的单据不会记入系统的后续计算中，请尽快处理本部分的内容！",
                position: 'auto'
            }, {
                element: '#step3',
                intro: '快速进入各种常用单据创建的入口',
                position: 'auto'
            }, {
                element: '#step4',
                intro: "在这里可以看到近一星期内的四种单据录入情况，可以点击后直接查看详情",
                position: 'bottom'
            }, {
                element: '#step5',
                intro: '选择时间周期，点击相应的按钮，查看图表数据。注意：只有已经审核过了的单据才会被计算出来！'
            }, {
                element: '#novice_guide',
                intro: '这里是一些常用的操作流程，可以通过这里的操作提示，熟悉本系统'
            }, {
                element: '#step6',
                intro: '如果您忘记了首页的操作，请点击这里重新开启首页的新手引导'
            }]
        });
        intro.setOptions({
            skipLabel: "暂时跳过",
            nextLabel: '下一步',
            prevLabel: '上一步',
            doneLabel: '完成',
            exitOnOverlayClick: false,
        })

        intro.start();
        //主动退出的话，在cookie中记录一下，本次访问不弹出引导了
        intro.onbeforeexit(function () {
            Cookies.set(title, true, {path: '/'})
        });
        intro.oncomplete(function () {
            Cookies.remove(title);
            $.post('/introjs', date)
        });
    }

    $(function () {
        //检查cookies中是否经历过新手引导了
         var value = Cookies.get(title);
        if (!value) {
            //查询数据库，是否已经做过这个新手引导
            $.post("/introjs/find_attribute", date, function (date) {
                if (!date) {
                    startIntro();
                }
            });
        }

        //付款单的新手引导
        $("#expense_tour").on("click", function () {
            Cookies.set("expense_tour", true, {path: '/'});
            var intro = introJs();
            intro.setOptions({
                steps: [{
                    element: '#new_expense',
                    intro: "开始创建一张付款单吧",
                }],
                exitOnOverlayClick: false,
            });
            intro.setOption('doneLabel', '跳转到页面').start().oncomplete(function () {
                window.location.href = "/expense/new"
            });
        });
        //收款单的新手引导
        $("#proceed_tour").on("click", function () {
            Cookies.set("proceed_tour", true, {path: '/'});
            var intro = introJs();
            intro.setOptions({
                steps: [{
                    element: '#new_proceed',
                    intro: "开始创建一张收款单吧",
                }],
                exitOnOverlayClick: false,
            });
            intro.setOption('doneLabel', '跳转到页面').start().oncomplete(function () {
                window.location.href = "/proceed/new"
            });
        });
        //采购单的新手引导
        $("#purchase_order_tour").on("click", function () {
            Cookies.set("purchase_order_tour", true, {path: '/'});
            var intro = introJs();
            intro.setOptions({
                steps: [{
                    element: '#new_purchase_order',
                    intro: "开始创建一张采购单吧",
                }],
                exitOnOverlayClick: false,
            });
            intro.setOption('doneLabel', '跳转到页面').start().oncomplete(function () {
                window.location.href = "/purchase_order/new"
            });
        });
        //销售单的新手引导
        $("#sale_order_tour").on("click", function () {
            Cookies.set("sale_order_tour", true, {path: '/'});
            var intro = introJs();
            intro.setOptions({
                steps: [{
                    element: '#new_sale_order',
                    intro: "开始创建一张销售单吧",
                }],
                exitOnOverlayClick: false,
            });
            intro.setOption('doneLabel', '跳转到页面').start().oncomplete(function () {
                window.location.href = "/sale_order/new"
            });
        });
        //改机记录单的新手引导
        $("#change_machine_tour").on("click", function () {
            Cookies.set("change_machine_tour", true, {path: '/'});
            var intro = introJs();
            intro.setOptions({
                steps: [{
                    element: '#new_change_machine',
                    intro: "开始创建一张改机单吧",
                }],
                exitOnOverlayClick: false,
            });
            intro.setOption('doneLabel', '跳转到页面').start().oncomplete(function () {
                window.location.href = "/change_machines/new"
            });
        });


        //图表信息查询
        $("#check_order_money").on("click", function () {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            $.post("/check_orders_money",
                {
                    start_date: start_date,
                    end_date: end_date
                }
            )
        });

        $("#check_trade_top").on("click", function () {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            $.post("/check_trade_top",
                {
                    start_date: start_date,
                    end_date: end_date
                }
            )
        });
        $("#check_expense_ratio").on("click", function () {
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();
            $.post("/check_expense_ratio",
                {
                    start_date: start_date,
                    end_date: end_date
                }
            )
        })
    });
</script>
