<div>
  <% if object.any? %>
    <% object.each do |comment| %>
      <div class="comments-content">
        <p><%= raw comment.content %></p>
        <div class="mr-auto">
          <p><%= comment.user.name %> · <%= comment.updated_at.localtime.strftime("%Y-%m-%d %H:%m") %>
            <% if can? :take_top, Comment %>
              <% if comment.up %>
                <span><%= link_to "取消置顶", take_top_comment_path(comment) %></span>
              <% else %>
                <span><%= link_to "置顶", take_top_comment_path(comment) %></span>
              <% end %>
            <% end %>
            <% if current_user.id == comment.user_id || current_user.roles.any? {|role| role.permissions.comments.destroy?} %>
              <% if can? :destroy, Comment %>
                <span><%= link_to "删除", comment_path(comment), method: :delete, data: {confirm: "确定删除？"} %></span>
              <% end %>
            <% end %>
          </p></div>
        <hr>
      </div>
    <% end %>
  <% end %>
</div>