<% provide :index_title, "付款单界面" %>
<% provide :new_url, new_expense_path %>

<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">

  <% if can? :create, Expense %>
    <div class="create_order">
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "expense" %>

</div>

<% if @expenses.blank? %>
  <div class="alert-info text-center">空空如也</div>
<% else %>
  <% @expenses.each do |expense| %>
    <div class="expense_info <%= check_status_css(expense) %>">
      <div class="content">
        <div class="row no-gutters">
          <div class="expense_date">单号:<%= link_to expense.order_id, expense_path(expense) %></div>
          <p class=" ml-auto">
            <% if expense.need_reimburse %>
            <div class="need_reimburse">未报销|</div>
          <% end %>
          <div class="check_status "><%= expense.expense_type %></div>
          </p>
        </div>
        <div class="row no-gutters">
          <div class="expense_supplier">交易方:<%= expense.counterparty %></div>
          <div class="check_status ml-auto">
            <% if !expense.check_status %>
              未审核
            <% end %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="expense_remark col-auto">备注:<%= expense.remark %></div>
          <% if can? :destroy, Expense %>
            <div class="operation_right ml-auto">
              <% if expense.is_invalid %>
                <%= expense.declare_invalid_person %>已将其作废
              <% elsif !expense.check_status %>
                <%= link_to "删除", expense_path(expense), method: :delete, data: {confirm: "未审核的单据会被直接删除，确定吗？"}, class: " destroy_link" %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render 'shard/paginate', object: @expenses %>


<script>
    var date = {
        controller_name: "expense",
        action_name: "index",
        tour_name: "intro",
        creator_id:<%=current_user.id %>
    };
    var title = '';
    title = title.concat(date.controller_name, "-", date.action_name, "-", date.tour_name, "-", date.creator_id);

    function startIntro() {
        var intro = introJs();
        intro.setOptions({
            skipLabel: "不要引导了",
            nextLabel: '下一步',
            prevLabel: '上一步',
            doneLabel: '完成',
            exitOnOverlayClick: false,
            steps: [
                {
                    intro: "欢迎,这是付款单页面，付款出去的单据，例如付房租水电、员工工资，原料货款等，都可以在这里创建，查找。红色的为未审核单据，绿色为已通过审核的单据,黄色的为已作废的单据"
                },
                {
                    element: '.create_order',
                    intro: "点击进入可以创建新的付款单",
                },
                {
                    element: '#search',
                    intro: "可以输入查询条件，例如单号、交易方、备注信息、货款、日常消耗等等",
                },
            ]
        });
        intro.start();
        //主动退出的话，在cookie中记录一下，本次访问不弹出引导了
        intro.onbeforeexit(function () {
            Cookies.set(title, true, {path: '/'})
        });
        intro.oncomplete(function () {
            Cookies.remove(title);
            $.post('/introjs', date)
        });
    }

    $(function () {
        //检查cookies中是否经历过新手引导了
        title = title.concat(date.controller_name, "-", date.action_name, "-", date.tour_name, "-", date.creator_id);
        var value = Cookies.get(title);
        if (!value) {
            //查询数据库，是否已经做过这个新手引导
            $.post("/introjs/find_attribute", date, function (date) {
                if (!date) {
                    startIntro();
                }
            });
        }
    })

</script>