<% provide :title, "付款单详情" %>


<div class="text-center">
  <h2><%= yield(:title) %></h2>
  <%= render 'expense/show_content', object: @expense, type: "expense" %>
  <div>
    <% if !@expense.is_invalid && !@expense.check_status %>
      <% if can? :pass_check, Expense %>
        <div class="alert-warning"><%= param_check("连续审核") %></div>
        <%= link_to "通过审核", pass_check_expense_path(@expense), class: "btn btn-primary pass_check_link" %>
      <% end %>
      <% if can? :update, Expense %>
        <%= link_to "编辑", edit_expense_path(@expense), class: "btn btn-primary edit_link" %>
      <% end %>

    <% end %>
    <% if !@expense.is_invalid && @expense.check_status %>
      <% if can? :destroy, Expense %>
        <%= link_to "作废", expense_path(@expense), method: :delete, data: {confirm: "确定作废吗？"}, class: "btn btn-primary destroy_link" %>
      <% end %>
    <% end %>

    <% if @expense.need_reimburse && @expense.check_status && !@expense.is_invalid %>
      <% if can? :pass_check, Expense %>
        <%= link_to "已报销", pass_reimburse_expense_path(@expense), class: "btn btn-primary" %>
      <% end %>
    <% end %>
    <%= link_to "返回主页", expense_index_path, class: "btn btn-primary" %>
  </div>
</div>
