<div class="form-group">
  <%= f.label :name, "品名" %>
  <%= f.text_field :name, required: "required", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :specification, "型号规格" %>
  <%= f.text_field :specification, required: "required", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :measuring_unit, "计量单位" %>
  <%= f.select :measuring_unit, options_for_select([['包', '包'], ['件', '件'], ['箱', '箱']]), class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :preset_price, "预设价格(元)" %>
  <a class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="预估设定的进价"> </a>
  <%= f.number_field :preset_price, step: 0.01, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.fields_for :purchase_supplier do |f| %>
    <%= f.label :name, "公司名" %>
    <%= f.text_field :name, required: "required", class: "form-control" %>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :description, "描述" %>
  <%= f.text_field :description, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :remarks, "备注" %>
  <%= f.text_field :remarks, class: "form-control" %>
</div>


<% if cannot? :manage, PurchaseOrder %>
  <div class="form-group">
    <%= f.label :user_id, "经手人" %>
    <%= f.select(:user_id, @salers.map {|n| [n.name, n.id]}, class: "form-control") %>
  </div>
<% end %>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
