<table class="table">
  <tbody>
<tr>
  <th>品名</th>
  <td><%= object.name %></td>
</tr>
<tr>
  <th>型号规格</th>
  <td><%= object.specification %></td>
</tr>

<tr>
  <th>描述</th>
  <td><%= object.description %></td>
</tr>
<tr>
  <th>供应商</th>
  <td><%= object.purchase_supplier.name %></td>
</tr>
<tr>
  <th>计量单位</th>
  <td><%= object.measuring_unit %></td>
</tr>
<tr>
  <th>创建时间</th>
  <td><%= object.created_at.localtime %></td>
</tr>
</tbody>
</table>