<% provide :index_title, "商品管理界面" %>
<% provide :manage_object, Material %>
<% provide :new_url, new_material_path %>

<%= render 'shard/index_header',page:"material" %>

<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>品名</td>
    <td>型号</td>
    <td>批号</td>
    <% if can? :destroy, Material %>
      <td>作废</td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @materials.each do |material| %>
    <tr>
      <td><%= link_to material.name, material_path(material) %></td>
      <td><%= material.specification %></td>
      <td><%= material.batch_number %></td>
      <% if can? :destroy, Material %>
        <td>
          <%= link_to "删除", material_path(material), method: :delete, data: {confirm: "确定删除吗？"} %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'shard/paginate', object: @materials %>





