<% provide :index_title, "原料管理界面" %>
<% provide :manage_object, Material %>
<% provide :new_url, new_material_path %>

<%= render 'shard/index_header', page: "material" %>

<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>品名</td>
    <td>型号</td>
    <td>供应商</td>
  </tr>
  </thead>
  <tbody>
  <% @materials.each do |material| %>
    <tr>
      <td><%= link_to material.name, material_path(material) %></td>
      <td><%= material.specification %></td>
      <td><%= link_to material.purchase_supplier.name, purchase_supplier_path(material.purchase_supplier.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'shard/paginate', object: @materials %>





