<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Center"/>
                                      <Borders/>
                                               <Font ss:FontName="等线" x:CharSet="134" ss:Size="12" ss:Color="#000000"/>
                                                                                                                      <Interior/>
                                                                                                                                <NumberFormat/>
                                                                                                                                              <Protection/>
    </Style>
      <Style ss:ID="1">
                         <Font ss:Bold="1"/>
                                           <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>

      </Style>

    <Style ss:ID="s62" ss:Name="常规 2">
      <Alignment ss:Vertical="Center"/>
                                      <Borders/>
                                               <Font ss:FontName="等线" x:CharSet="134" ss:Size="11" ss:Color="#000000"/>
                                                                                                                      <Interior/>
                                                                                                                                <NumberFormat/>
                                                                                                                                              <Protection/>
    </Style>
    <Style ss:ID="s108" ss:Parent="s62">
      <Alignment ss:Horizontal="CenterAcrossSelection" ss:Vertical="Center"/>
                                                                            <Borders>
                                                                            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                 <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                                          </Borders>
                                                                                                                                                                                                                                                                                                                                                            <Font ss:FontName="等线" x:CharSet="134" ss:Size="40" ss:Color="#000000"/>
                                                                                                                                                                                                                                                                                                                                                                                                                                   <Interior/>
    </Style>
    <Style ss:ID="s112" ss:Parent="s62">
      <Borders>
      <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                           <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                              <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                  <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                    </Borders>
                                                                                                                                                                                                                                                                                      <Interior/>
    </Style>
    <Style ss:ID="s114" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Font ss:FontName="等线" x:CharSet="134" ss:Size="11" ss:Color="#000000"
      ss:Bold="1"/>
                  <Interior/>
    </Style>
    <Style ss:ID="s115" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Interior/>
                                                                                                                                                                                                                                                                                                                                                       <NumberFormat ss:Format="@"/>
    </Style>
    <Style ss:ID="s116" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Interior/>
                                                                                                                                                                                                                                                                                                                                                       <NumberFormat ss:Format="0.00_);[Red]\(0.00\)"/>
    </Style>
    <Style ss:ID="s117" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Interior/>
    </Style>
    <Style ss:ID="s118" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Font ss:FontName="等线" x:CharSet="134" ss:Size="11" ss:Color="#000000"
      ss:Bold="1"/>
                  <Interior/>
                            <NumberFormat ss:Format="Currency"/>
    </Style>
    <Style ss:ID="s119" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Font ss:FontName="等线" x:CharSet="134" ss:Size="11" ss:Color="#000000"
      ss:Bold="1"/>
                  <Interior/>
                            <NumberFormat ss:Format="Percent"/>
    </Style>
    <Style ss:ID="s120" ss:Parent="s62">
      <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
                                                           <Borders>
                                                           <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                   <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                         </Borders>
                                                                                                                                                                                                                                                                                                                                           <Font ss:FontName="等线" x:CharSet="134" ss:Size="11" ss:Color="#000000"
      ss:Bold="1"/>
                  <Interior/>
    </Style>
    <Style ss:ID="s121" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Interior/>
                                                                                                                                                                                                                                                                                                                                                       <NumberFormat ss:Format="Short Date"/>
    </Style>
    <Style ss:ID="s122" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Interior/>
                                                                                                                                                                                                                                                                                                                                                       <NumberFormat ss:Format="Currency"/>
    </Style>
    <Style ss:ID="s123" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Interior/>
                                                                                                                                                                                                                                                                                                                                                       <NumberFormat ss:Format="Percent"/>
    </Style>
    <Style ss:ID="s124" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
                                                                             <Borders>
                                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                                             <Font ss:FontName="等线" x:CharSet="134" ss:Size="11" ss:Color="#000000"
      ss:Bold="1"/>
                  <Interior/>
    </Style>
    <Style ss:ID="s125" ss:Parent="s62">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
                                                             <Borders>
                                                             <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                  <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                     <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                         <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                                                                                                                                                                                                                                                                                                                                           </Borders>
                                                                                                                                                                                                                                                                                                                                             <Font ss:FontName="等线" x:CharSet="134" ss:Size="11" ss:Color="#000000"
      ss:Bold="1"/>
                  <Interior/>
                            <NumberFormat ss:Format="[DBNum2][$-804]General"/>
    </Style>

  </Styles>
    <Worksheet ss:Name="<%=@purchase_supplier.name %>" >
    <Table>
      <Row ss:Height="50">
        <Cell ss:MergeAcross="13" ss:StyleID="s108"><Data ss:Type="String">对账单-<%=@purchase_supplier.name %></Data></Cell>
      </Row>


      <Row>
        <Cell ss:StyleID="s121"><Data ss:Type="String"><%= t('bill_time', default: '时间') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('name', default: '品名') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('specification', default: '型号规格') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('batch_number', default: '批号') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('weight', default: '重量') %>(kg)</Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('numbers', default: '数量') %>(包/箱)</Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('price', default: '单价') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('tax_rate', default: '税率') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('total_price', default: '总价') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('deposit', default: '押金') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('freight', default: '包含运费') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('paper_amount', default: '已付款') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('spare_money', default: '剩余应付款') %></Data></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"><%= t('remark', default: '备注') %></Data></Cell>
      </Row>


      <% if @purchase_supplier.check_money && @purchase_supplier.check_money!=0 && @purchase_supplier.check_money_time %>
        <Row>
          <Cell ss:StyleID="s121"><Data ss:Type="DateTime"><%= @purchase_supplier['check_money_time'].localtime.to_s.split[0]%></Data></Cell>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"/>
          <Cell ss:StyleID="s122"><Data ss:Type="Number">-<%= @purchase_supplier['check_money']%></Data></Cell>
          <Cell ss:StyleID="s122"><Data ss:Type="String">这是设定的清算记录</Data></Cell>
        </Row>
        <%end %>
        <% if @purchase_orders %>
        <% @purchase_orders.each do |item| %>
          <Row>
            <Cell ss:StyleID="s121"><Data ss:Type="DateTime"><%= item['bill_time'].localtime.to_s.split[0]%></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item.material['name'] %></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item.material['specification'] %></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item['batch_number'] %></Data></Cell>
            <Cell ss:StyleID="s117"><Data ss:Type="Number"><%= item['weight'] %></Data></Cell>
            <Cell ss:StyleID="s117"><Data ss:Type="Number"><%= item['number'] %></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="Number"><%= item['price'] %></Data></Cell>
            <Cell ss:StyleID="s123"><Data ss:Type="Number"><%= item['tax_rate'] %></Data></Cell>
            <Cell ss:StyleID="s122" ss:Formula="=RC[-4]*RC[-2]*(1-RC[-1])"></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="Number"><%= item['deposit'] %></Data></Cell>
            <% if item.our_freight %>
            <Cell ss:StyleID="s122"><Data ss:Type="Number"><%= item['freight'] %></Data></Cell>
            <%else %>
              <Cell ss:StyleID="s122"/>
            <%end %>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s122" ss:Formula="=SUMIFS(C[-4],C[-12],&quot;&lt;=&quot;&amp;RC[-12])+SUMIFS(C[-3],C[-12],&quot;&lt;=&quot;&amp;RC[-12])+SUMIFS(C[-2],C[-12],&quot;&lt;=&quot;&amp;RC[-12])- SUMIFS(C[-1],C[-12],&quot;&lt;=&quot;&amp;RC[-12])"></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item['remark'] %></Data></Cell>
          </Row>
        <% end %>
      <% end %>
 <% if @purchase_orders_return %>
        <% @purchase_orders_return.each do |item| %>
          <Row>
            <Cell ss:StyleID="s121"><Data ss:Type="DateTime"><%= item['bill_time'].localtime.to_s.split[0]%></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item.material['name'] %></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item.material['specification'] %></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item['batch_number'] %></Data></Cell>
            <Cell ss:StyleID="s117"><Data ss:Type="Number">-<%= item['weight'] %></Data></Cell>
            <Cell ss:StyleID="s117"><Data ss:Type="Number">-<%= item['number'] %></Data></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="Number"><%= item['price'] %></Data></Cell>
            <Cell ss:StyleID="s123"><Data ss:Type="Number"><%= item['tax_rate'] %></Data></Cell>
            <Cell ss:StyleID="s122" ss:Formula="=RC[-4]*RC[-2]*(1-RC[-1])"></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="Number">-<%= item['deposit'] %></Data></Cell>
            <% if item.our_freight %>
              <Cell ss:StyleID="s122"><Data ss:Type="Number">-<%= item['freight'] %></Data></Cell>
            <%else %>
              <Cell ss:StyleID="s122"/>
            <%end %>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s122" ss:Formula="=SUMIFS(C[-4],C[-12],&quot;&lt;=&quot;&amp;RC[-12])+SUMIFS(C[-3],C[-12],&quot;&lt;=&quot;&amp;RC[-12])+SUMIFS(C[-2],C[-12],&quot;&lt;=&quot;&amp;RC[-12])- SUMIFS(C[-1],C[-12],&quot;&lt;=&quot;&amp;RC[-12])"></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String">这是退货单.<%= item['remark'] %></Data></Cell>
          </Row>
        <% end %>
      <% end %>

      <% if @expenses %>
        <% @expenses.each do |item| %>
          <Row>
            <Cell ss:StyleID="s121"><Data ss:Type="DateTime"><%= item['bill_time'].localtime.to_s.split[0] %></Data></Cell>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s117"/>
            <Cell ss:StyleID="s117"/>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s123"/>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s122"/>
            <Cell ss:StyleID="s122"><Data ss:Type="Number"><%= item['paper_amount'] %></Data></Cell>
            <Cell ss:StyleID="s122" ss:Formula="=SUMIFS(C[-4],C[-12],&quot;&lt;=&quot;&amp;RC[-12])+SUMIFS(C[-3],C[-12],&quot;&lt;=&quot;&amp;RC[-12])+SUMIFS(C[-2],C[-12],&quot;&lt;=&quot;&amp;RC[-12])- SUMIFS(C[-1],C[-12],&quot;&lt;=&quot;&amp;RC[-12])"></Cell>
            <Cell ss:StyleID="s122"><Data ss:Type="String"><%= item['remark'] %></Data></Cell>
          </Row>
        <% end %>
      <% end %>

      <Row>
        <Cell ss:StyleID="s114"><Data ss:Type="String">合计</Data></Cell>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s114"/>
        <Cell ss:StyleID="s114" ss:Formula="=SUM(R[-<%=@rows_count %>]C:R[-1]C)"><Data ss:Type="Number"></Data></Cell>
        <Cell ss:StyleID="s114" ss:Formula="=SUM(R[-<%=@rows_count %>]C:R[-1]C)"><Data ss:Type="Number"></Data></Cell>
        <Cell ss:StyleID="s118"/>
        <Cell ss:StyleID="s119"/>
        <Cell ss:StyleID="s118" ss:Formula="=SUM(R[-<%=@rows_count %>]C:R[-1]C)"><Data ss:Type="Number"></Data></Cell>
        <Cell ss:StyleID="s118" ss:Formula="=SUM(R[-<%=@rows_count %>]C:R[-1]C)"><Data ss:Type="Number"></Data></Cell>
        <Cell ss:StyleID="s118" ss:Formula="=SUM(R[-<%=@rows_count %>]C:R[-1]C)"><Data ss:Type="Number"></Data></Cell>
        <Cell ss:StyleID="s118" ss:Formula="=SUM(R[-<%=@rows_count %>]C:R[-1]C)"><Data ss:Type="Number"></Data></Cell>
        <Cell ss:StyleID="s122" ></Cell>
        <Cell ss:StyleID="s122"><Data ss:Type="String"></Data></Cell>
      </Row>
      <Row></Row>
      <Row ss:Height="32">
        <Cell ss:StyleID="s124"><Data ss:Type="String">结余款&#10;(大写)</Data></Cell>
        <Cell ss:MergeAcross="6" ss:StyleID="s125" ss:Formula="=ABS(RC[7])"><Data
          ss:Type="Number"></Data></Cell>
        <Cell ss:MergeAcross="4" ss:StyleID="s118" ss:Formula="=R[-2]C+R[-2]C[1]+R[-2]C[2]-R[-2]C[3]*100/100"><Data
          ss:Type="Number"></Data></Cell>
        <Cell ss:StyleID="s122"/>
      </Row>


    </Table>
  </Worksheet>
</Workbook>


