<% provide :title, "供应商信息详情" %>
<% provide :edit_url, edit_purchase_supplier_path(@supplier) %>
<% provide :back_url, purchase_suppliers_path %>

<div class="text-center">
  <h2><%= yield(:title) %></h2>

  <%= render 'purchase_suppliers/show_content', object: @supplier %>

  <div>
    <% if can? :export, PurchaseSupplier %>
       <span data-hint="每个月要对账了，导出固定格式的全部记录，需要在Excel中把不必要的删除掉。" data-hintPosition="top-left">
         <%= link_to "导出对账单", export_purchase_supplier_path(@supplier, format: "xls"), class: "btn btn-primary export" %></span>
    <% end %>

    <% if can? :update, PurchaseSupplier %>
      <%= link_to "编辑", yield(:edit_url), class: "btn btn-primary edit-link" %>
    <% end %>
    <% if @supplier.purchase_orders.blank? && @supplier.expenses.blank? %>
      <% if can? :destroy, PurchaseSupplier %>
         <span data-hint="只有关联的订单数为零的才能删除，慎重！" data-hintPosition="top-left">
           <%= link_to "删除", purchase_supplier_path, method: :delete, class: "btn btn-primary destroy-link" %></span>
      <% end %>
    <% end %>
    <%= link_to "返回主页", yield(:back_url), class: "btn btn-primary" %>
  </div>
</div>