<h2 class="text-center"><%= yield(:title) %></h2>
<%#= render "shard/errors", object: object %>
<div class="offset-md-3 col-md-6">
  <%= form_for(object, url: url, method: yield(:method)) do |f| %>
    <% if type == "sale_customer" %>
      <%= render 'sale_customers/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "purchase_supplier" %>
      <%= render 'purchase_suppliers/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "proceed" %>
      <%= render 'proceeds/form_content', f: f, type_2: type_2, object: object %>
  <% elsif type == "expense" %>
      <%= render 'expenses/form_content', f: f, type_2: type_2, object: object %>
   <% elsif type == "user" %>
      <%= render 'users/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "repo" %>
      <%= render 'repos/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "employee" %>
      <%= render 'employee/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "purchase_order" %>
      <%= render 'purchase_orders/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "sale_order" %>
      <%= render 'sale_orders/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "material" %>
      <%= render 'materials/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "product" %>
      <%= render 'products/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "change_machine" %>
      <%= render 'change_machines/form_content', f: f, type_2: type_2, object: object %>
    <% end %>
    <div class="form-group">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %></span>
      <%= link_to "取消", yield(:back_url), class: "btn btn-default" %></span>
    </div>

  <% end %>

</div>