<h2 class="text-center"><%= yield(:title) %></h2>
<%= render "shard/errors", object: object %>
<div class="offset-md-4">
  <%= form_for(object, url: url, method: yield(:method)) do |f| %>
    <% if type == "sale_customer" %>
      <%= render 'sale_customer/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "purchase_supplier" %>
      <%= render 'purchase_supplier/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "user" %>
      <%= render 'user/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "repo" %>
      <%= render 'repo/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "employee" %>
      <%= render 'employee/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "purchase_order" %>
      <%= render 'purchase_order/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "sale_order" %>
      <%= render 'sale_order/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "material" %>
      <%= render 'material/form_content', f: f, type_2: type_2, object: object %>
    <% elsif type == "product" %>
      <%= render 'product/form_content', f: f, type_2: type_2, object: object %>
    <% end %>
    <div class="form-group">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      <%= link_to "取消", yield(:back_url), class: "btn btn-default" %>
    </div>

  <% end %>

</div>