<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">

  <% if can? :manage, yield(:manage_object) %>
    <div>
      <%= link_to "新建", yield(:new_url), class: "btn btn-default" %>
    </div>
  <% end %>

  <% if page != "user" %>
    <%= render "shard/search", action: :index %>
  <% end %>
  <% if page == "employee" %>
    <div class="filer">
      <% if request.filtered_parameters['order'] == "all" %>
        <%= link_to "在职人员", employee_index_path %>
      <% else %>
        <%= link_to "全部人员", employee_index_path(:order => "all") %>
      <% end %>
    </div>
  <% end %>
</div>



