<table class="table">
  <tbody>
  <tr>
    <th>品名</th>
    <td><%= object.product.name %></td>
  </tr>
  <tr>
    <th>型号规格</th>
    <td><%= link_to object.product.specification, product_path(object.product) %></td>
  </tr>

  <tr>
    <th>重量</th>
    <td><%= object.weight %>千克</td>
  </tr>

  <tr>
    <th>数量</th>
    <td><%= object.number %><%= object.measuring_unit %></td>
  </tr>

  <% if object.freight %>
    <tr>
      <th>运费</th>
      <% if object.our_freight %>
        <td class="alert-warning"><%= object.freight %>元(我们公司付)</td>
      <% else %>
        <td><%= object.freight %>元</td>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <th>单价</th>
    <td><%= object.price %>元</td>
  </tr>

  <tr>
    <th>税率</th>
    <td><%= object.tax_rate * 100 if object.tax_rate %>%</td>
  </tr>

  <tr>
    <th>总价(税后)</th>
    <td><%= object.total_price %>元</td>
  </tr>
  <tr>
    <th>客户名称</th>
    <td><%= link_to object.sale_customer.name, sale_customer_path(object.sale_customer) %></td>
  </tr>
  <tr>
    <th>存放的仓库</th>
    <td><%= object.repo.name %></td>
  </tr>
  <tr>
    <th>账单时间</th>
    <td><%= str_time(object.bill_time) %></td>
  </tr>
  <tr>
    <th>经手人</th>
    <td><%= object.user.name %></td>
  </tr>
  <tr>
    <th>描述</th>
    <td><%= object.description %></td>
  </tr>
  <% if object.check_status %>
    <tr>
      <th>审核人</th>
      <td> <%= object.check_person %></td>
    </tr>
    <tr>
      <th>审核时间</th>
      <td> <%= str_time(object.check_time) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2"><%= image_tag object.picture.url, size: "125x160" if object.picture? %></td>
  </tr>
  </tbody>
</table>