<table class="table">
  <tbody>
  <tr>
    <th>仓库名称</th>
    <td><%= object.name %></td>
  </tr>
  <tr>
    <th>描述</th>
    <td><%= object.description %></td>
  </tr>
  <tr>
    <th>地址</th>
    <td><%= object.address %></td>
  </tr>
  <tr>
    <th>管理者编号</th>
    <td><%= object.user.id %></td>
  </tr>
  <tr>
    <th>管理者</th>
    <td><%= object.user.name %></td>
  </tr>
  <tr>
    <th>状态</th>
    <td><%= object.status %></td>
  </tr>
  </tbody>
</table>