<% provide :index_title, "仓库管理界面" %>
<% provide :new_url, new_repo_path %>

<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">
  <% if can? :create, Repo %>
    <div class="create_order">
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "repo" %>
</div>

<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>编号</td>
    <td>仓库名称</td>

  </tr>
  </thead>
  <tbody>
  <% @repos.each do |repo| %>
    <tr>
      <td><%= repo.id %></td>
      <td><%= link_to repo.name, repo_path(repo) %></td>
      <td>
        <% if can? :update, Repo %>
          <%= link_to "编辑", edit_repo_path(repo) %>
        <% end %>
        <% if can? :destroy, Repo %>
          <%= link_to "删除", repo_path(repo), method: :delete, data: {confirm: "确定删除吗？"} %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'shard/paginate', object: @repos %>







