<div class="form-group">
  <%= f.label :name, "品名" %>
  <%= f.text_field :name, placeholder: "必需", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :specification, "型号规格" %>
  <%= f.text_field :specification, placeholder: "必需", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :measuring_unit, "计量单位" %>
  <%= f.text_field :measuring_unit, value: "匹", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :labor_cost, "人工费用(元)" %>
  <a class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="每万转多少元"> </a>
  <%= f.number_field :labor_cost, step: 0.01, value: 40, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :preset_price, "预设卖价(元)" %>
  <a class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="预估产品的价格，可不填"> </a>
  <%= f.number_field :preset_price, step: 0.01, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description, "描述" %>
  <%= f.text_area :description, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :remarks, "备注" %>
  <%= f.text_area :remarks, class: "form-control" %>
</div>


<% if cannot? :edit, Product %>
  <div class="form-group">
    <%= f.label :user_id, "经手人" %>
    <%= f.select(:user_id, @salers.map {|n| [n.name, n.id]}, class: "form-control") %>
  </div>
<% end %>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>