<div class="form-inline">
  <%= f.label :name, "品名" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :specification, "型号规格" %>
  <%= f.text_field :specification, class: "form-control" %>
</div>

<div class="form-inline">
  <%= f.label :measuring_unit, "计量单位" %>
  <%= f.text_field :measuring_unit, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :preset_cost, "费用(元)" %>
  <%= f.number_field :preset_cost,step:0.01, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :preset_price, "预设价格(元)" %>
  <%= f.number_field :preset_price, step:0.01, class: "form-control" %>
</div>

<div class="form-inline">
  <%= f.label :description, "描述" %>
  <%= f.text_field :description, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :remarks, "备注" %>
  <%= f.text_field :remarks, class: "form-control" %>
</div>


<% if cannot? :edit, Product %>
  <div class="form-inline">
    <%= f.label :user_id, "经手人" %>
    <%= f.select(:user_id, @salers.map {|n| [n.name, n.id]}, class: "form-control") %>
  </div>
<% end %>

