<tr>
  <th>品名</th>
  <td><%= object.name %></td>
</tr>
<tr>
  <th>型号规格</th>
  <td><%= object.specification %></td>
</tr>

<tr>
  <th>描述</th>
  <td><%= object.description %></td>
</tr>
<tr>
  <th>费用</th>
  <td><%= object.preset_cost %></td>
</tr>
<tr>
  <th>预设价格</th>
  <td><%= object.preset_price %></td>
</tr>
<tr>
  <th>计量单位</th>
  <td><%= object.measuring_unit %></td>
</tr>
<tr>
  <th>创建时间</th>
  <td><%= object.created_at %></td>
</tr>
<tr>
  <th>备注</th>
  <td><%= object.remarks %></td>
</tr>
