<% provide :index_title, "产品管理界面" %>
<% provide :new_url, new_product_path %>

<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">

  <% if can? :create, Product %>
    <div class="create_order">
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "product" %>
</div>
<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>ID</td>
    <td>名称</td>
    <td>型号</td>
    <% if can? :destroy, Product %>
      <td>删除</td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.specification %></td>
      <% if can? :destroy, Product %>
        <td>
          <%= link_to "删除", product_path(product), method: :delete, data: {confirm: "确定删除吗？"} %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'shard/paginate', object: @products %>





