<% provide :index_title, "产品管理界面" %>
<% provide :manage_object, Product %>
<% provide :new_url, new_product_path %>

<%= render 'shard/index_header',page:"product" %>

<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>名称</td>
    <td>型号</td>
    <% if can? :destroy, Product %>
      <td>删除</td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.specification %></td>
      <% if can? :destroy, Product %>
        <td>
          <%= link_to "删除", product_path(product), method: :delete, data: {confirm: "确定删除吗？"} %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render 'shard/paginate', object: @products %>





