<div class="form-inline">
  <%= f.label :name, "品名" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :specification, "型号规格" %>
  <%= f.text_field :specification, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :batch_number, "批号" %>
  <%= f.text_field :batch_number, class: "form-control" %>
</div>

<div class="form-inline">
  <%= f.label :description, "描述" %>
  <%= f.text_field :description, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :repo_id, "存入仓库" %>
  <%= f.select(:repo_id, Repo.all.map {|n| [n.name, n.id]}, class: "form-control") %>
</div>
<div class="form-inline">
  <%= f.label :measuring_unit, "计量单位" %>
  <%= f.select :measuring_unit, options_for_select([['包', '包'], ['件', '件'], ['箱', '箱'],]), class: "form-control" %>
</div>
<div class="form-inline">
  <%#= f.fields_for :materials do |f| %>
  <%#= f.fields_for :purchase_supplier do |f| %>
  <%= f.label :purchase_supplier, "供应商" %>
  <%= f.text_field :purchase_supplier, class: "form-control" %>
  <%# end %>
  <%# end %>
</div>

<div class="form-inline">
  <%= f.label :weight, "重量" %>
  <%= f.number_field :weight, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :number, "数量" %>
  <%= f.number_field :number, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :price, "单价" %>
  <%= f.number_field :price, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :tax_rate, "税率" %>
  <%= f.number_field :tax_rate, step: 0.001, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :deposit, "押金" %>
  <%= f.number_field :deposit, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :freight, "运费" %>
  <%= f.number_field :freight, class: "form-control" %>
</div>


<% if cannot? :edit, PurchaseOrder %>
  <div class="form-inline">
    <%= f.label :employee_id, "经手人" %>
    <%= f.select(:employee_id, @salers.map {|n| [n.name, n.id]}, class: "form-control") %>
  </div>
<% end %>


