<% provide :index_title, "采购订单管理界面" %>
<% provide :manage_object, PurchaseOrder %>
<% provide :new_url, new_purchase_order_path %>

<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">
  <% if can? :create, PurchaseOrder %>
    <div>
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "purchase_order" %>
</div>
<% if @purchase_orders.blank? %>
  <div class="alert-info text-center">空空如也</div>
<% else %>
  <% @purchase_orders.each do |purchase_order| %>
    <div class="purchase_order_info">
      <div class="content_left">
        <div class="row no-gutters">
          <div class="purchase_order_id">订单号:<%= link_to purchase_order.order_id, purchase_order_path(purchase_order) %></div>
          <% if purchase_order.is_return? %>
            <div class="is_return ml-auto">退货单</div>
          <% end %>
        </div>
        <div class="row no-gutters m-auto">
          <div class="purchase_order_supplier">供应商:<%= link_to purchase_order.purchase_supplier.name, purchase_supplier_path(purchase_order.purchase_supplier) %></div>
          <div class="check_status ml-auto">
            <% if !purchase_order.check_status %>
              未审核
            <% end %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="purchase_order_material_info col-auto">品名:<%= purchase_order.material.name %></div>
          <div class="purchase_order_material_info col-auto">规格:<%= purchase_order.material.specification %></div>
          <% if can? :destroy, PurchaseOrder %>
            <div class="operation_right col-auto">
              <% if !purchase_order.is_invalid %>
                <% if can? :destroy, PurchaseOrder %>
                  <%= link_to "作废", purchase_order_path(purchase_order), method: :delete, data: {confirm: "确定作废吗？"} %>
                <% end %>
              <% else %>
                <%= purchase_order.declare_invalid_person %>已将其作废
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<%= render 'shard/paginate', object: @purchase_orders %>







