<% provide :title, "采购订单详情" %>
<% provide :edit_url, edit_purchase_order_path(@purchase_order) %>
<% provide :pass_check_url, pass_check_purchase_order_path(@purchase_order) %>
<% provide :back_url, purchase_order_index_path %>


<div class="text-center">
  <h2><%= yield(:title) %></h2>

  <%= render 'purchase_order/show_content', object: @purchase_order%>

  <div>
    <% if !@purchase_order.is_invalid && !@purchase_order.check_status %>
      <% if can? :pass_check, PurchaseOrder %>
        <%= link_to "通过审核", yield(:pass_check_url), class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <% if can? :update, PurchaseOrder %>
      <%= link_to "编辑", yield(:edit_url), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "返回主页", yield(:back_url), class: "btn btn-primary" %>
  </div>
</div>
