<table class="table">
  <tbody>
  <tr>
    <th>姓名</th>
    <td><%= object.name %></td>
  </tr>
  <tr>
    <th>邮箱</th>
    <td><%= object.email %></td>
  </tr>
  <tr>
    <th>角色</th>
    <td><%= object.roles.map(& :name).join(",") %></td>
  </tr>
  <% if object.is_lock %>
    <tr>
      <th>锁住的时间</th>
      <td><%= object.lock_time.localtime %></td>
    </tr>
  <% end %></tbody>
</table>

<div class="reimbursed_order">
  <h4>报销单情况</h4>
  <% if @expenses.any? %>
    <% @expenses.each do |expense| %>
      <div class="order-content row no-gutters m-auto <%= order_status_css(expense) %>">
        <%= link_to expense.order_id, expense_path(expense) %>
        <%= expense.expense_type %>
        <%= expense.counterparty %>
        <% if expense.reimbursed %>
          已报销
        <% end %>
      </div>
    <% end %>
  <% else %>
    没有找到报销单
  <% end %>

</div>
