<div class="form-group">
  <%= f.label :sale_customer_id, "客户名称" %>
  <%= f.select :sale_customer_id, options_for_select(SaleCustomer.all.map {|n| [n.name, n.id]}, object.sale_customer_id), class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :paper_amount, "账面金额" %>
  <%= f.number_field :paper_amount, min: 0, step: 0.01, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :actual_amount, "实际金额" %>
  <%= f.number_field :actual_amount, min: 0, step: 0.01, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :account_name, "户名" %>
  <%= f.text_field :account_name, placeholder: "对方账户的名称", class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :account_number, "账户号码" %>
  <%= f.text_field :account_number, placeholder: "收款的银行卡号、支付宝、微信", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :account_from, "账户所属" %>
  <%= f.select :account_from, options_for_select([['银行', '银行'], ['支付宝', '支付宝'], ['微信', '微信'], ['其他', '其他']]), class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :bill_time, "账单时间" %>
  <a class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="该笔收款的时间记录"> </a>
  <%= f.datetime_field :bill_time, value: default_time_now, class: "form-control" %>
</div>
<% if type_2 == "edit" %>
  <div class="form-group">
    <%= f.label :user_id, "经手人" %>
    <%= f.select(:user_id, options_for_select(User.all.map {|n| [n.name, n.id]}, object.user_id), class: "form-control") %>
  </div>
<% elsif type_2 == "create" %>
  <div class="form-group d-none">
    <%= f.label :user_id, "经手人ID" %>
    <%= f.number_field(:user_id, value: current_user.id, class: "form-control") %>
  </div>
<% end %>

<div class="picture">
  <%= label_tag "上传相关图片" %>
  <%= f.file_field :picture %>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
