<table class="table">
  <tbody>
  <tr>
    <th>客户名</th>
    <td><%= object.sale_customer.name %></td>
  </tr>
  <tr>
    <th>账面金额</th>
    <td><%= object.paper_amount %>元</td>
  </tr>

  <tr>
    <th>实际金额</th>
    <td><%= object.actual_amount %>元</td>
  </tr>

  <tr>
    <th>备注</th>
    <td><%= object.remark %></td>
  </tr>
  <tr>
    <th>账户名称</th>
    <td><%= object.account_name %></td>
  </tr>
  <tr>
    <th>账户号码</th>
    <td><%= object.account_number %></td>
  </tr>
  <tr>
    <th>账户类型</th>
    <td><%= object.account_from %></td>
  </tr>
  <tr>
    <th>经手人</th>
    <td><%= object.user.name %></td>
  </tr>
  <tr>
    <th>收款时间</th>
    <td><%= str_time(object.bill_time) %></td>
  </tr>

  <% if object.check_status %>
    <tr>
      <th>审核人</th>
      <td> <%= object.check_person %></td>
    </tr>
    <tr>
      <th>审核时间</th>
      <td> <%= str_time(object.check_time) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2"><%= image_tag object.picture.url, size: "125x160" if object.picture? %></td>
  </tr>
  </tbody>
</table>