<% provide :index_title, "收款单界面" %>
<% provide :manage_object, Proceed %>
<% provide :new_url, new_proceed_path %>

<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">

  <% if can? :create, Proceed %>
    <div class="create_order">
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "proceed" %>
</div>
<% if @proceeds.blank? %>
  <div class="alert-info text-center">空空如也</div>
<% else %>
  <% @proceeds.each do |proceed| %>
    <div class="proceed_info <%= check_status_css(proceed) %>">
      <div class="content_left">
        <div class="proceed_date">单号:<%= link_to proceed.order_id, proceed_path(proceed) %></div>
        <div class="row no-gutters">
          <div class="proceed_supplier">客户:<%= link_to proceed.sale_customer.name, sale_customer_path(proceed.sale_customer) %></div>
          <div class="check_status ml-auto">
            <% if !proceed.check_status %>
              未审核
            <% end %>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="proceed_material_info mr-auto">备注:<%= proceed.remark %></div>
          <div class="operation_right ml-auto">
            <% if proceed.is_invalid %>
              <%= proceed.declare_invalid_person %>已将其作废
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render 'shard/paginate', object: @proceeds %>





