<table class="table">
  <tbody>
  <tr>
    <th>品名</th>
    <td><%= object.name %></td>
  </tr>
  <tr>
    <th>型号规格</th>
    <td><%= object.specification %></td>
  </tr>

  <tr>
    <th>描述</th>
    <td><%= object.description %></td>
  </tr>
  <tr>
    <th>供应商</th>
    <td><%= object.purchase_supplier.name %></td>
  </tr>
  <tr>
    <th>计量单位</th>
    <td><%= object.measuring_unit %></td>
  </tr>
  <tr>
    <th>创建时间</th>
    <td><%= str_time object.created_at.localtime %></td>
  </tr>
  </tbody>
</table>

<% if @prices.uniq.size > 1 %>
  <h4>历史价格曲线</h4>
  <div class="chart-container">
    <canvas id="historical_price_chart">
    </canvas>
  </div>
<% end %>
<% if @prices.size > 0 %>
  <div class="purchase_orders_content">
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapse_1">
            <span>历史订单列表</span>
          </a>
        </div>
        <div id="collapse_1" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <% @material.purchase_orders.each do |purchase_orders| %>
              <div>
                <%= link_to(purchase_orders.order_id, purchase_order_path(purchase_orders)) %> --
                <%= purchase_orders.price %>元/千克
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(function () {
            if (<%=@prices.uniq.size>1 %>) {
                var ctx = $('#historical_price_chart');
                var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: <%= raw @bill_times.map{|n|str_date(n)}  %>,
                        datasets: [
                            {
                                label: '历史价格',
                                data: <%= raw @prices %>,
                                pointColor: "red",
                                pointHighlightFill: "black"
                            }
                        ]
                    },
                    options: {
                        bezierCurve: true,
                        datasetStroke: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: <%=@prices.min %>-1
                                }
                            }]
                        }
                    }
                });
            }
        }
    )
</script>