<% provide :title, "付款单详情" %>


<div class="text-center">
  <h2><%= yield(:title) %>
    <%if @expense.is_invalid? %>
      <span class="is_invalid_alert">已作废</span>
    <%end %>
  </h2>
  <%= render 'expenses/show_content', object: @expense, type: "expense" %>
  <div>
    <% if !@expense.is_invalid && !@expense.check_status %>
      <% if can? :pass_check, Expense %>
        <div class="alert-warning"><%= param_check("连续审核") %></div>
        <span data-hint="您具有审核的权限,请确认单据内容正确后点击此按钮后，单据将记入系统计算。注意:已审核的单据无法编辑修改，如有错误只能作废后重新填写一张！" data-hintPosition="top-left">
          <%= link_to "通过审核", pass_check_expense_path(@expense), class: "btn btn-primary pass_check_link" %></span>
      <% end %>
      <% if can? :update, Expense %>
       <span data-hint="单子上有内容错误？缺失？重新编辑吧！注意:作废的单据和通过审核的单据就无法修改了！" data-hintPosition="top-left">
         <%= link_to "编辑", edit_expense_path(@expense), class: "btn btn-primary edit_link" %></span>
      <% end %>
    <% end %>

    <% if !@expense.is_invalid && @expense.check_status %>
      <% if can? :destroy, Expense %>
          <span data-hint="单据错误？审核后不能修改了，只能作废后再写一张了。" data-hintPosition="top-left">
            <%= link_to "作废", expense_path(@expense), method: :delete, data: {confirm: "确定作废吗？"}, class: "btn btn-primary destroy_link" %></span>
      <% end %>
    <% end %>

    <% if @expense.need_reimburse && @expense.check_status && !@expense.is_invalid %>
      <% if can? :pass_check, Expense %>
          <span data-hint="您具有通过报销此单据的权限，在付给报销人报销款后，请点击此按钮，报销结果将在报销人的个人界面显示。" data-hintPosition="top-left">
            <%= link_to "已报销", pass_reimburse_expense_path(@expense), class: "btn btn-primary" %></span>
      <% end %>
    <% end %>
    <%= link_to "返回主页", expenses_path, class: "btn btn-primary" %>
  </div>
</div>

