<table class="table">
  <tbody>
  <tr>
    <th>品名</th>
    <td><%= object.name %></td>
  </tr>
  <tr>
    <th>型号规格</th>
    <td><%= object.specification %></td>
  </tr>

  <tr>
    <th>描述</th>
    <td><%= object.description %></td>
  </tr>
  <tr>
    <th>人工费用</th>
    <td><%= object.labor_cost %>元/万转</td>
  </tr>
  <tr>
    <th>下布圈数</th>
    <td><%= object.turns_number %>转/匹</td>
  </tr>
  <tr>
    <th>预设价格</th>
    <td><%= object.preset_price %></td>
  </tr>
  <tr>
    <th>计量单位</th>
    <td><%= object.measuring_unit %></td>
  </tr>
  <tr>
    <th>创建时间</th>
    <td><%= object.created_at.localtime %></td>
  </tr>
  <tr>
    <th>备注</th>
    <td><%= object.remarks %></td>
  </tr>
  </tbody>
</table>

<% if @prices.uniq.size > 1 %>
  <h4>历史价格曲线</h4>
  <div class="chart-container">
    <canvas id="historical_price_chart">
    </canvas>
  </div>
<% end %>
<% if @prices.size > 0 %>
  <div class="sale_order_content">
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapse_1">
            <span>历史订单列表</span>
          </a>
        </div>
        <div id="collapse_1" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <% @product.sale_orders.each do |sale_order| %>
              <div class="row no-gutters">
                <%= link_to(sale_order.order_id, sale_order_path(sale_order)) %>--
                <%= sale_order.price %>元/千克
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(function () {
        if (<%=@prices.uniq.size>1 %>) {
            var ctx = $('#historical_price_chart');
            var myChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: <%= raw @bill_times.map{|n|str_date(n)}  %>,
                    datasets: [
                        {
                            label: '历史价格',
                            data: <%= raw @prices %>,
                            borderColor: "blue",
                            fill: false
                        }
                    ]
                },
                options: {
                    hover: {
                        animationDuration: 0  // 防止鼠标移上去，数字闪烁
                    },
                    animation: {           // 这部分是数值显示的功能实现
                        onComplete: function () {
                            var chartInstance = this.chart,

                                ctx = chartInstance.ctx;
                            // 以下属于canvas的属性（font、fillStyle、textAlign...）
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.fillStyle = "black";
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    },
                    bezierCurve: true,
                    datasetStroke: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: <%=@prices.min %>-1,
                                max: <%=@prices.max %>+1
                            }
                        }]
                    }
                }
            });
        }
    })

</script>