<div class="form-inline">
  <%= f.label :name, "公司名" %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :contacts, "联系人姓名" %>
  <%= f.text_field :contacts, class: "form-control" %>
</div>

<div class="form-inline">
  <%= f.label :phone, "联系号码" %>
  <%= f.text_field :phone, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :address, "地址" %>
  <%= f.text_field :address, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :description, "描述" %>
  <%= f.text_field :description, class: "form-control" %>
</div>
<div class="form-inline">
  <%= f.label :status, "状态" %>
  <%= f.text_field :status, class: "form-control" %>
</div>