<% provide :index_title, "客户管理界面" %>
<% provide :new_url, new_sale_customer_path %>
<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">
  <% if can? :create, SaleCustomer %>
    <div class="create_order">
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "sale_customer" %>
</div>

<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>编号</td>
    <td>公司名</td>
    <td>联系电话</td>
  </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.name, sale_customer_path(customer) %></td>
      <td><%= customer.phone %></td>
    </tr>

  <% end %>
  </tbody>
</table>
<%= render 'shard/paginate', object: @customers %>







