<% provide :index_title, "客户管理界面" %>
<% provide :new_url, new_sale_customer_path %>
<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">
  <% if can? :create, SaleCustomer %>
    <div>
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "repo" %>
</div>

<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>编号</td>
    <td>公司名</td>
    <td></td>

  </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.name, sale_customer_path(customer) %></td>
      <td><%= link_to '删除', customer,method: :delete,data:{confirm:"确定删除吗？"} %></td>
    </tr>

  <% end %>
  </tbody>
</table>
<%= render 'shard/paginate', object: @customers %>







