<nav class="navbar navbar-expand-sm bg-light fixed-top justify-content-center">
  <div class="navbar-header mr-auto">
    <%= link_to "顾丰纺织生产管理系统", root_url, class: "navbar-brand" %>

  </div>

  <nav id="admin_header_nav" class="nav ml-auto">
    <% if current_user %>
      <% if can? :read, User %>
        <div class="nav-item">
          <%= link_to "个人信息", user_url(current_user) %>
        </div>
        <div class="nav-item">
          <%= link_to "更改密码", edit_password_reset_path(current_user) %>
        </div>
      <% end %>
      <% if can? :manage, @user %>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            人员管理
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "所有人员", user_index_path, class: "nav-item" %></li>
          </ul>
        </div>
      <% end %>


      <div class="nav-item">欢迎你,<%= current_user.name %></div>
      <%= link_to "退出", session_path(current_user), method: :delete %>
    <% end %>

  </nav>


</nav>
