<% provide :index_title, "供应商管理界面" %>
<% provide :manage_object, PurchaseSupplier %>
<% provide :new_url, new_purchase_supplier_path %>

<h2 class="text-center"><%= yield(:index_title) %></h2>
<div class="row no-gutters">
  <% if can? :create, PurchaseSupplier %>
    <div class="create_order">
      <%= link_to "新建", yield(:new_url) %>
    </div>
  <% end %>
  <%= render 'shard/index_header', page: "purchase_supplier" %>
</div>
<table class="table table-hover table-active">
  <thead>
  <tr>
    <td>编号</td>
    <td>公司名</td>
    <td>联系号码</td>
  </tr>
  </thead>
  <tbody>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.id %></td>
      <td><%= link_to supplier.name, purchase_supplier_path(supplier) %></td>
      <td><%= supplier.phone %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render 'shard/paginate', object: @suppliers %>




<script>
    $(function () {
        if (Cookies.get("change_purchase_supplier_check_money_time_tour") || Cookies.get("export_purchase_supplier_tour")) {
            var intro = introJs();
            intro.setOptions({
                skipLabel: "暂时跳过",
                nextLabel: '下一步',
                prevLabel: '上一步',
                doneLabel: '完成',
                exitOnOverlayClick: false,
            });
            intro.setOptions({
                steps: [{
                    intro: "选择一个供应商进入",
                }],
            });
            intro.start();
        }
    })
</script>


