<% provide :title, "供应商信息详情" %>
<% provide :edit_url, edit_purchase_supplier_path(@supplier) %>
<% provide :back_url, purchase_supplier_index_path %>

<div class="text-center">
  <h2><%= yield(:title) %></h2>

  <%= render 'purchase_supplier/show_content', object: @supplier %>

  <div>
    <% if can? :export, PurchaseSupplier %>
      <%= link_to "导出对账单", export_purchase_supplier_path(@supplier, format: "xls"), class: "btn btn-primary export" %>
    <% end %>

    <% if can? :update, PurchaseSupplier %>
      <%= link_to "编辑", yield(:edit_url), class: "btn btn-primary edit-link" %>
    <% end %>
    <% if @supplier.purchase_orders.blank? && @supplier.expenses.blank? %>
      <% if can? :destroy, PurchaseSupplier %>
        <%= link_to "删除", purchase_supplier_path, method: :delete, class: "btn btn-primary destroy-link" %>
      <% end %>
    <% end %>
    <%= link_to "返回主页", yield(:back_url), class: "btn btn-primary" %>
  </div>
</div>